
# 1 = 1 хв
time_update = 1 

[logging]
max_log_size = 5
backup_count = 3

[Update]
enable_chromeDriver = true
url_driver = "http://localhost:4444"
# Час вимірюється у годинах 1 = 1 hour
time = 1 

[network]
isMainnet = false


[network.Cosmos]
rest = ''
rpc = ''
valoper_address = ''